.container {
    z-index: 500;
    position: absolute;
    align-self: flex-end;
    top:100%; 
    height: fit-content;
    width: 100%; 
    background-color: var(--yellow-color); 
    transition: all 0.1s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    text-align: left;
}
.container > li {
    margin-left: 5px;
    color: rgba(0, 0, 0, 1);
    transition: color 0.3s ease-in;
    transition: font-size 0.1s ease-in;
    padding: 2px;
}

.hidden {
    z-index: 500;
    position: absolute;
    align-self: flex-end;
    max-height: 0px; 
    width: 0px; 
    background-color: var(--yellow-color); 
    transition: all 0.3s ease-in;
}
.hidden > li {
    font-size: 1px;
    color: rgba(0, 0, 0, 0)
}