.dropDown {
    width: 40%;
    background-color: var(--white-color);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.select_el {
    display: block;
    border: none;
    width: 100%;
}
