.userInfoContainer {
    display:grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
    width: 80%;
    top:0px;
    left:0px;
    margin: auto;
}

.buttonPos {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    margin: 1em 0 1em 0;
}
