.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.icon {
    font-size: 90px;
    animation: rotation 1.3s infinite linear;
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
      color: var(--charcoal-color)
    }
    25% {
      transform: rotate(90deg);
      color: var(--blue-color)
    }
    50% {
      transform: rotate(180deg);
      color: var(--charcoal-color)
    }
    75% {
      transform: rotate(270deg);
      color: var(--blue-color)
    }
    100% {
      transform: rotate(359deg);
      color: var(--charcoal-color)
    }
  }