.infoBox {
    align-self: center;
    text-align: center;
    border: 2px solid grey;
    background-color: var(--green-color);
    border-radius: 10px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
    height: 80%;
    margin-bottom: 20%;
    width: 100%;
}

td:first-child {
    font-weight: bold;
}

.infoBox table tbody tr td {
    overflow: scroll;
}