.field {
    display: flex;
    flex-direction: column;
    height: 50px;
    font-size: max(18px, 1.0vw);
  }
  input {
    border: none;
    border-color: transparent;
    border-bottom: 4px solid var(--yellow-color);   
    outline: 0;
    background-color: transparent !important;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
    font-size: max(18px, 1.0vw);

}
.notBlurredClass {
    order: -1;
    transition: all 0.3s ease-in;
    transform: translateY(20px);
    pointer-events: none;

  }
input:focus+ .notBlurredClass {
    transform: translateY(0px) ;
    font-size: 60%; /* Also change font-size below */
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
    z-index: 999;

  }
.color {
  margin-top: 10%;
  border: none;
  height: 80px;
  width: 80px;
  align-self: center;
  box-shadow: none;
  align-self: center;
  background-color: transparent;
 
}
.blurredClass {
    order: -1;
    font-size: 60%;
}
label {
    min-height: 21.33px;

}
.dateBlurred {
  color: transparent;
}

input:focus {
  color: var(--charcoal-color)
}

.sketchpicker {
  position: fixed;
  top: 17%;
  z-index: 9999999999;
}

.field_sketchpicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sketch-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.color-picker-div {
  height: 3em;
  width: 3em;
  background-color: black;
  border-radius: 50%;
}