.innerContainer {
    width: 80%;
    display: grid;
    height: 100%;
}

.inputContainer {
    display:flex;
    flex-direction: column;
    align-content: space-around;
    height: fit-content;
}

.buttonContainer{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.buttonContainer > Button {
    margin-bottom: 10px;
}
.buttonStyle {
    color: var(--charcoal-color);

    border-radius: 10px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
}

.infoBox {
    align-self: center;
    text-align: center;
    border: 2px solid grey;
    background-color: var(--green-color);
    border-radius: 10px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
    height: 80%;
    margin-bottom: 20%;
}

td:first-child {
    font-weight: bold;
}
.inputContainer > p {
    text-align: center;
}