.button-style {
    height: 2em;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    outline: none;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 0.3em;
    cursor: pointer;
    font-family: 'Lato-Regular';
    line-height: 1.75;
    text-transform: uppercase;
}

.button-style:hover {
    opacity: 0.9; 
}

.button-style:active {
     box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 4px 4px 1px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
 
}
/*
@media screen and (max-width: 600px) {
    .button-style {
      width: 20%;
    }
  }
*/
