
.container {
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.alerter {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    width: 80%;
    height: 40%;
    background-color: var(--orange-color);
}
.fontAwesomePosition {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
}
.container > p {
    padding: 8px;
}

/* @Mediascreen that makes the nav larger in height. making two buttons visible and hiding the cogwheel. Box-pic also larger. */
@media screen and (min-width: 700px) {
    .alerter {
        min-width: 400px;
        width: 20%;
        min-height: 30%;
        height: fit-content;
    }
}