.modal_wrapper {
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.modal_wrapper Button {
    align-self: flex-end;
}

.ownStyle {
    position: absolute;
    background-color: var(--orange-color);
    height: 80%;
    width: 80%;
    border-radius: 0.5em;
    display: grid;
    place-items: center;
}
.modal_content {
    overflow-x: hidden;
    background-color: var(--orange-color);
    height: 80%;
    width: 80%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_wrapper>  ::-webkit-scrollbar {
    width: 12px;
}
.modal_wrapper > ::-webkit-scrollbar-thumb {
    background-color: var(--red-color);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.modal_wrapper > ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.modal_content > div {
    width: 80%;
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--yellow-color);
    
}

.modal_content div > span {
    align-self: flex-end;
    margin-right: 0.5em;
    font-style: bold;
}

@media screen and (min-width: 700px) {
    .modal_content {
        width: 40%;
    }
}