.container {
    display:grid;
    font-size: 25px;
    width: 100%;
    height: 100%;
    justify-items: center;
    position:relative
}
.roundedTimer {
    width: 20%;
    padding-top: 20%;
    display: block;
    background-color: var(--green-color);
    border-radius: 100%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}
.text {
    position: absolute;
    align-self: center;
    color:white;

}