.innerContainer {
    width: 80%;
    display: grid;
    height: 100%;
}

.bigText {
    color: var(--charcoal-color);
    font-size: max(20px, 2vw);
    text-align: center;

}

.fa {
    color: var(--green-color);
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 10;
}
.iconHolder {
    display:flex;
    flex-direction: column;
    justify-self: center;
}
.smallerText {
    color: var(--charcoal-color);
    font-size: max(18px, 1vw);
    text-align: center;
}