.boxOutline {
    height: 80%;
    width: 20%;
    background-color: var(--yellow-color) !important;
    border-radius: 10%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: max(3vw, 3.5vh);

}