.container {
    width: 80%;
    justify-self: center;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.innerContainer {
    display:grid;
    grid-row-gap: 5px;
    max-height: 100%;
    grid-template-rows: 1fr 1fr ;
}

.bottomHolder {
    display:flex;
    justify-content:space-between;
    height: 3vh;
}
.link {
    color: var(--blue-color);
    text-decoration: underline;
}
a {
    outline: 0;
}