.inputWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 10fr 0fr;
}

.absolut {
    position: absolute;
    bottom: 25%;
    right: 0px;
}