.nav {
    
    background-color: var(--charcoal-color);
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5em 0 0.5em;
    align-items: center;
    color: var(--white-color);
}

.img_style {
    width: 10%;
}
.fa_bars {
    color: var(--white-color);
    cursor: pointer;
}
.dropdown {
    position: absolute;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2em);
    background-color: var(--charcoal-color);
    color: var(--white-color);
    text-align: center;
    width: 40%;
    float: right;
}

/* Detta ska ändras till korrekt element */
.dropdown a {
    display: inline-block;
    color: var(--blue-color);
    text-align: center;
    text-decoration: none;
}
.dropdown a:hover {
    color: var(--white-color);
    cursor: pointer;
}

.dropdown p {
    color: var(--blue-color);
    cursor: pointer;
}
.dropdown p:hover {
    color: var(--white-color);
    cursor: pointer;
}
.navlogin {
    visibility: hidden;
}
.nav ul{
    list-style-type: none;
}
a .img_style {
    margin-top: 3px;
    height: 24px;
    width: auto;
}
.logout {
    background-color: var(--charcoal-color);
}
.hiddenDiv  {
    position: fixed;
    left: 0;
    top: 2em;
    height: 100%;
    width: 100%;
}

/* @Mediascreen that makes the nav larger in height. making two buttons visible and hiding the cogwheel. Box-pic also larger. */
@media screen and (min-width: 700px) {
    .nav{
        height: 4em;
        position: relative;
    }
    .navlogin {
        visibility: visible;
         background-color: #F4A261;
         padding: 10px;
         text-decoration: none;
         margin-right: 2px;
    }
    li :hover {
        background-color: var(--charcoal-color);
        border-style: solid;
        border-width: 1px;
        border-color: #F4A261;
        color: var(--white-color);
    }
    .img_style{ 
        width: 24%;
    }
    .fa_bars {
        visibility: hidden;
    }
    .nav li {
        float: right;
      }
    .nav ul {
        position: absolute;
        right: 5%
    }
    a .img_style {
        height: 55px;
        width: auto;
    }
    .logout {
        background-color: var(--charcoal-color);
        cursor: pointer;
    }
    .dropdown {
        visibility: hidden;
    }


    
}