
.container {   
    width: 80%;
    justify-self: center;
    text-align: center;
    display:grid;
    grid-template-rows: 1fr 1fr 3fr;
    height: 100%;
    
}

.inputContainer {
    display:flex;
    height: 100%;
    justify-content: space-around;
}

.timerAndButton {
    display:grid;
    justify-items: center;
    align-content: space-around;
    width: 100%;
    height: 50%;
}

.shaker {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg);}
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg);}
  }

.shaker > input {
    background-color: rgba(255, 0, 0, 0.5);
}