.table_style {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
}


thead {
    background-color: var(--charcoal-color);
    color: var(--white-color);

}

thead tr {
    height: 2.5em;
    pointer-events: none;
    text-align: center;
}

thead tr th:last-child {
    border-top-right-radius: 1em;
}

thead tr th:first-child {
    border-top-left-radius: 1em;
}

tbody tr {
    text-align: center;
    color: var(--charcoal-color);
    height: 2.5em;
    cursor:pointer;
}

tbody tr:nth-child(even) {
    background-color: var(--white-color);
}

tbody tr:nth-child(odd) {
    background-color: var(--grey-color);
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1em;
}
/* TODO, make compatible for firefox */
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1em;
}

.textfield {
    margin: 0;
}

.pagination {
    margin-top: 5px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pagination button {
    cursor:pointer;
}

.flex_item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.flex_item_two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.close_button {
    align-self: flex-end;
    margin: 0.3em;
}

.icon_style {
    height: 3em;
    width: 3em;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
    
}

.icon_style svg {
    font-size: large;
}

.table_input {
    width: 2em !important;
    margin-left: 5px;
    padding-left: 10px;
}

tbody :hover td {
    background-color: rgba(0, 0, 0, 0.1);
}

.hover {
    cursor: pointer;
}

.selectButtonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.sendContainerContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sendContainermodal {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;

}

.buttonGroupCountries {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.fontAwesomePosition {
    position:absolute;
    align-self: flex-start;
    justify-self: flex-end;
    right: -4px;
    top: -4px;
}

.filterDiv {
    display: flex;
}

.inputEmail {
    max-width: 30%;
}

.checkboxes {
    width: 75%;
    display: flex;
    justify-content: space-between;
    
}
.checkboxes label {
    margin: 0.5em 0 0.5em 0;
}

.sortAboveTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: -1em;
}

.sHider {
    display: none;
}
/* Enables if screen is larger than 700px */
@media screen and (min-width: 700px) {
    .pagination {
        position: inherit;
        bottom: 15%;
        width: 40%;
        margin-left: 30%;
    }
    .table_style {
        top: 10%;
    }

    .sendContainermodal {
        width: 40%;
        
    }
    .sHider {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .sortAboveTable {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .inputEmail {
        max-width: 100%;
    }
    .selectButtonContainer Button {
        margin-top: 1em;
       }    

    .checkboxes {
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .hider {
        display: none;
    }

    .sHider {
        display: grid;
        justify-content: flex-end;

    }
}
