.App {
    display:grid;
    place-items: center;
    height: calc(100vh - 2em);
    width: 100vw;
    max-width: 100%;
}

select {
    background-color: var(--white-color);
    border: none;
    border-radius: 0.5em;
    max-height: 2em;
}

select option:nth-child(even) {
    background-color: var(--white-color);
}

select option:nth-child(odd) {
    background-color: var(--grey-color);
}

@media screen and (min-width: 700px) {
    .App{
        height: calc(100vh - 4em);

    }
}