body {
  margin: 0;
  font-family: 'Lato-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--charcoal-color);
  background-color: var(--orange-color);
}

@font-face {
  font-family: 'Lato-Regular';
  src: local('Lato-Regular'), url(./assets/fonts/Lato-Regular.ttf) format('truetype');
}

:root {
  --green-color: #A5C882;
  --charcoal-color: #264653;
  --orange-color: #F4A261;
  --yellow-color: #E9C46A;
  --red-color: #E76F51;
  --blue-color: #3185FC;
  --white-color: #F1FAEE;
  --grey-color: #C4C4C4;
}

.main-view {
  display: grid;
  place-items: center;
}
.country-view {
  display: grid;
  place-items: center;
}

.views {
    width: 100vw;
    max-width: 400px;
    display:grid;
    place-items: center;
    height: 80vh;
}
::-webkit-scrollbar {
  width: 0
}
/*
@media only screen and (min-width: 768px) {
  .views {
    width: 100vw;
    max-width: 500px;
    height: 80vh;
    min-height: 600px;
    max-height: 900px;
    display:grid;
    place-items: center;
  }
}
*/